<div class="border p-2">
  <h2>Level 2</h2>
  <p>Some content of the <b>Level2Component</b>.</p>
  <p>Static values assigned to the Level2 route are: <code class="ml-2">{{ data | json }}</code></p>
  <p>All child routes of <b>Level2Component</b> will be inserted below.</p>
  <router-outlet></router-outlet>
  <p>Some content of the <b>Level2Component</b> that is below than content from child components.</p>
</div>
