<div>Some content for the main page</div>
<div
  class="d-flex mb-3"
  *ngFor="let post of postSegment"
>
  <div>ID: {{ post.id }}</div>
  <div>Title: {{ post.title }}</div>
</div>

<app-pagination
  *ngIf="paginationParams"
  [params]="paginationParams"
  (onChange)="getPosts($event)"
></app-pagination>
