<div class="border p-2">
  <h3>Level 3</h3>
  <p>Some content of the <b>Level3Component</b>.</p>
  <div class="mb-2" *ngIf="!!param">Current route param is <span class="text-success">{{ param }}</span></div>
  <div class="mb-2" *ngIf="!param">Current route param isn't defined</div>
  <app-child (onParam)="onParamHandler($event)"></app-child>
</div>
