<div class="wrapper d-flex flex-column justify-content-end align-items-start w-50 mr-auto ml-auto">
  <h1>404</h1>
  <p>Oups... Page not found :(</p>
  <p><a [routerLink]="'/'">Main Page</a></p>
</div>
