<div class="border p-2">
  <h1>Level 1</h1>
  <p>Some content of the <b>Level1Component</b>.</p>
  <p>All child routes will be inserted below.</p>
  <router-outlet></router-outlet>
  <p>Some content of the <b>Level1Component</b> that is below than content from child components.</p>
</div>